:root {
  --background: black;
  --bgcolor: #151515;
  --bgcolor2: #ccc;
  --color: #fff;
  --floral: #898989;
  --menu: #FFF9F9;
}

* {
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--background) !important;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--background);
}

::-webkit-scrollbar-thumb {
  background-color: var(--background);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--bgcolor);
}

.item {
  width: 200px;
  height: 200px;
  margin: 50px auto;
  padding-top: 75px;
  background: var(--bgcolor2);
  text-align: center;
  color: var(--color);
  font-size: 3em;
}

#root {
  min-height: 100%;
}

.height {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
}

.gradientText {
  background: linear-gradient(180deg, #3CAA5C 35.42%, #2f8547 78.65%, #2f8547 85.5%);
  /* background: linear-gradient(180deg, #DF0000 35.42%, rgba(223, 0, 0, 0.81) 78.65%, rgba(223, 0, 0, 0.81) 85.5%); */
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 700;
}