:root {
  --background: #151515;
  --bgcolor: #151515;
  --bgcolor2: #ccc;
  --color: #fff;
  --floral: #898989;
  --menu: #FFF9F9;
}

* {
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--background) !important;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--background);
}

::-webkit-scrollbar-thumb {
  background-color: var(--background);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--bgcolor);
}

.item {
  width: 200px;
  height: 200px;
  margin: 50px auto;
  padding-top: 75px;
  background: var(--bgcolor2);
  text-align: center;
  color: var(--color);
  font-size: 3em;
}

#root {
  min-height: 100%;
}

.height {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
}

.gradientText {
  background: linear-gradient(180deg, #3c4daa 35.42%, #3c4daa 78.65%, #3c4daa 85.5%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 700;
  width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  color: #696969;
  cursor: pointer;
  width: 25px;
}

@media (max-width: 1400px) {

  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}

.swiper-button-next:active,
.swiper-button-prev:active {
  color: white;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  background-color: transparent;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #D9D9D9;
  margin: 0 5px;
  border-radius: 50%;
}