:root {
  --background: black;
  --bgcolor: #181818;
  --bgcolor2: #ccc;
  --color: #fff;
  --floral: floralWhite;
  --menu: #898989;
}

* {
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--background) !important;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--background);
}

::-webkit-scrollbar-thumb {
  background-color: var(--background);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--bgcolor);
}

.item {
  width: 200px;
  height: 200px;
  margin: 50px auto;
  padding-top: 75px;
  background: var(--bgcolor2);
  text-align: center;
  color: var(--color);
  font-size: 3em;
}

#root {
  min-height: 100%;
}

.height {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}